<div id="<%= dom_id product %>" class="card col-6 p-5 shadow">
  <h5 class="text-muted text-center mb-3">
    <%= product.name %>
  </h5>

  <strong class="text-muted">
    Price:
  </strong><br>
  <small>
    $ <%= product.price %>
  </small><hr>

  <strong class="text-muted">
    Url:
  </strong><br>
  <small>
    <%= product.url %>
  </small><hr>

  <strong class="text-muted">
    Purchased:
  </strong><br>
  <small>
    <%= product.purchased %>
  </small><hr>

  <strong class="text-muted">
    Category:
  </strong><br>
  <small>
    <%= product.category.name %>
  </small>
</div>
