<div id="<%= dom_id product %>" class="card col-6 p-5 shadow">
  <strong class="text-muted">
    Name:
  </strong><br>
  <small>
    <%= product.name %>
  </small><hr>

  <strong class="text-muted">
    Price:
  </strong><br>
  <small>
    <%= product.price %>
  </small><hr>

  <strong class="text-muted">
    Url:
  </strong><br>
  <small>
    <%= product.url %>
  </small><hr>

  <strong class="text-muted">
    Purchased:
  </strong><br>
  <small>
    <%= product.purchased %>
  </small><hr>

  <strong class="text-muted">
    Category:
  </strong><br>
  <small>
    <%= product.category_id %>
  </small>
</div>
